* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
  font-style: normal;
}

.header {
  margin: 32px 130px 80px 130px;
}

.header-block-up {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 5px;
}

.address-list {
  display: flex;
  list-style: none;
  line-height: 120%;
  gap: 43px;
  text-align: right;
}

.mail-block {
  margin-top: 1px;
  margin-right: 0px;
}

.mail {
  margin-top: 3.5px;
  display: inline-block;
}

.number-block {
  margin-right: 31px;
  margin-top: 1px;
}

.list-text {
  font-size: 14px;
}

.address-link {
  font-size: 20px;
  color: #607ce6;
  font-weight: 600;
}

.number {
  text-decoration: none;
  margin-top: 3.5px;
  margin-right: -0.5px;
  display: inline-block;
}

.line {
  margin-top: 35px;
  margin-bottom: 16px;
  margin-right: 31px;
}

.navigation {
  margin-top: -4px;
  letter-spacing: 0.03px;
}

.navigation-list {
  display: flex;
  list-style: none;
  gap: 44px;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.header-block-down {
  display: flex;
  justify-content: space-between;
}

.callback-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-transform: uppercase;
  color: #607ce6;
  margin-right: 32px;
  margin-top: -4px;
}

.phone-image {
  margin-left: 68px;
  margin-bottom: 3px;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("Pioner/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("Pioner/fonts/SourceSans3-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

.title-block {
    display: flex;
    gap: 100px;
    margin-top: 80px;
}

.title-heading {
        margin-left: 129px;
    margin-top: -1.1px;
    margin-right: 1px;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;

}

.title-text {
    margin-top: 24.4px;
    margin-right: 348.8px;
    font-size: 16px;
    padding-right: 4px;
    line-height: 1.2;
}

.title-image {
    margin-left: 129px;
    margin-top: 32px;
}

.about-heading {
    font-size: 48px;
    font-weight: bold;
    margin-top: 69px;
    margin-left: 129px;
}

.about-block {
    display: flex;
    gap: 20px;
}

.about-text {
    font-size: 16px;
    line-height: 138%;
}

.about-text-left {
    margin-left: 129px;
    margin-top: 27px;
}

.about-text-right {
           margin-right: 159px;
    margin-top: 26px;
}

.about-text-down {
    margin: 23px 756px 24px 129px;
}

.about-images {
    display: flex;
    gap: 20px;
    margin-top: 32px;
}

.welding {
    margin-left: 130px;
}

.conveyor {
    margin-right: 130px;
}
