* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
  font-style: normal;
}

.header {
  margin: 32px 130px 80px 130px;
}

.header-block-up {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 5px;
}

.address-list {
  display: flex;
  list-style: none;
  line-height: 120%;
  gap: 43px;
  text-align: right;
}

.mail-block {
  margin-top: 1px;
  margin-right: 0px;
}

.mail {
  margin-top: 3.5px;
  display: inline-block;
}

.number-block {
  margin-right: 31px;
  margin-top: 1px;
}

.list-text {
  font-size: 14px;
}

.address-link {
  font-size: 20px;
  color: #607ce6;
  font-weight: 600;
}

.number {
  text-decoration: none;
  margin-top: 3.5px;
  margin-right: -0.5px;
  display: inline-block;
}

.line {
  margin-top: 35px;
  margin-bottom: 16px;
  margin-right: 31px;
}

.navigation {
  margin-top: -4px;
  letter-spacing: 0.03px;
}

.navigation-list {
  display: flex;
  list-style: none;
  gap: 44px;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

.header-block-down {
  display: flex;
  justify-content: space-between;
}

.callback-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-transform: uppercase;
  color: #607ce6;
  margin-right: 32px;
  margin-top: -4px;
}

.phone-image {
  margin-left: 68px;
  margin-bottom: 3px;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("Pioner/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("Pioner/fonts/SourceSans3-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}
